<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Club Nautico de Eider</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
    	<h1 class="text-center my-4">SOCIOS</h1>
    	<a class="btn btn-primary" href="/socios/crear">Crear socio</a>
    	<table class="table">
    		<thead>
    			<tr>
    				<td>ID</td>
    				<td>DNI</td>
    				<td>Nombre</td>
    				<td>Teléfono</td>
    				<td>Dirección</td>
    				<td></td>
    			</tr>
    		</thead>
    		<tbody>
    			<tr th:each="socio:${socios}">
    				<td th:text="${socio.id}"></td>
    				<td th:text="${socio.dni_socio}"></td>
    				<td th:text="${socio.nom_socio}"></td>
    				<td th:text="${socio.tlf_socio}"></td>
    				<td th:text="${socio.dir_socio}"></td>
    				<td style="white-space:nowrap">
    					<a class="btn btn-primary btn-sm"
    						th:href="@{/socios/editar(id=${socio.id})}">Editar</a>
    					<a class="btn btn-danger btn-sm"
    						th:href="@{/socios/borrar(id=${socio.id})}"
    						onclick="return confirm('Are you sure about that?')">Borrar</a>
    				</td>
    			</tr>
    		</tbody>
    	</table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>